section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  width: 280px;
  color: #333;
}

h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 1em;
  display: inline-block;
  vertical-align: top;
}

p{
  padding-top: 0.2em;
  margin: 0;
}
p input {
  margin-bottom: 1em;
  width: calc(100% - 1rem);
}
p button{
  margin: 1em 0;
}
