# Logs
logs
*.log

# Credentials
**/.env
!**/fixtures/**/.env

# Generated
packages/*/doc
packages/*/bin
packages/*/dist
packages/*/types/**/*.d.ts

# Coverage tests
**/test/generic/
coverage-test-report.xml
coverage-tests-metadata.json

# Docker
docker-compose.yaml

# Dependency directory
node_modules

# Other
.idea
.vscode
.yarn
.bongo
.DS_Store
.eslintcache
.history/
*.swp
*~
tmp
tags
tags.*