@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    src: url(https://applitools.com/helloworld-assets/fonts/poppins_200.woff2) format("woff2")
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://applitools.com/helloworld-assets/fonts/poppins_400.woff2) format("woff2")
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url(https://applitools.com/helloworld-assets/fonts/poppins_500.ttf) format("woff2")
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(https://applitools.com/helloworld-assets/fonts/poppins_600.woff2) format("woff2")
}